<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.terra">

    <uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:debuggable="false">

        <activity android:name=".BDAActivity"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AfterActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".BeforeActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".DuringActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".EmergencyContactsActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".HomeScreenActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".SignupActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".ContactsActivity2"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".RemoveContactActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".ChecklistActivity2"
            android:screenOrientation="portrait"></activity>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>